<%- include('includes/header.ejs') %>
<!--Page Contents-->

      <div class="ui text container">
        <h1 class="ui inverted header">Imagine-a-Company</h1>
        <h2>Do whatever you want when you want to.</h2>
       
     <a href="/crypto/start">  <div class="ui huge primary button">
          Get Started <i class="right arrow icon"></i>
        </div>
      </a> 

     

      </div>
    </div>

    

<%- include('includes/footer.ejs') %>